.b-content {
  &__title {
    text-transform: uppercase;
    font-weight: 700;
  }
  &__desc {
    & p, & ul {
      margin-bottom: rem(10px);
    }
    & ul, & ol {}
    & ul {}
    & ol {}
    & a {}
  }
}