.b-content {
  &-title {
    text-transform: uppercase;
    font-weight: 700;
    &--center {
      text-align: center;
    }
    &--right {
      text-align: right;
    }
    &--justify {
      text-align: justify;
    }
  }
  &-desc {
    & p {
      margin-bottom: 10px;
    }
    & ul, & ol {}
    & ul {}
    & ol {}
    & a {}
  }
}