.b-content {
  padding-top: rem(54px);
  &-title {
    text-align: center;
    font-weight: 300;
    & i {
      margin: 0 auto rem(20px);
    }
  }
  &__desc {
    & p {
      margin-bottom: rem(10px);
    }
  }
  @include flexy-breakpoint(medium) {
    padding-top: rem(81px);
  }
}