.b-flashes {
  &__error {
    padding: .5rem .9rem .5rem 1.875rem;
    border-radius: 5px;
    background-color: flexy-color(error);
    color: flexy-color(white);
    margin-bottom: .9rem;
    position: relative;
    &:before {
      content: '•';
      position: absolute;
      padding: .5rem 0;
      top: 0;
      left: .8rem;
    }
  }
  &__success {
    padding: .5rem .9rem;
    border-radius: 5px;
    background-color: flexy-color(success);
    text-align: center;
    margin-bottom: .9rem;
    text-transform: uppercase;
  }
}