/* GLOBAL */
$margin: (10px 0);
$radius: 0;
$border: (1px solid flexy-color(gray1));
$bg: flexy-color(white);
$height: 50px;
/* Text */
$padding: 18px;
$font-size: .75rem;
/* Radio, check */
$size: 16px;
/* Number */
$numberHeight: 50%;
$numberWidth: $height/2;
$numberPadding: $numberWidth + $padding;

.b-form {


  & * {
    box-sizing: border-box;
  }


  &__input-text, &__input-email, &__input-password, &__input-tel, &__input-number, &__input-search, &__textarea {
    position: relative;
    margin: $margin;
    > input, > textarea {
      outline: none;
      width: 100%;
      border-radius: $radius;
      border: $border;
      font-size: $font-size;
      padding: 0 $padding;
      background: $bg;
      height: $height;
      line-height: $height;
      color: inherit;
      + label {
        position: absolute;
        top: 0;
        left: 0;
        transition: .2s ease;
        font-size: $font-size;
        color: flexy-color(gray1);
        padding: 0 $padding;
        line-height: $height;
        text-transform: uppercase;
      }
    }
    &.is-focused {
      > input + label, > textarea + label {
        transform: translate3d(0, -30%, 0);
        font-size: .5rem;
      }
    }
  }
  &__textarea {
    > textarea {
      overflow: hidden;
      resize: none;
      line-height: normal;
      //изменяемые
      height: 140px;
      padding: $padding;
      + label {
        line-height: normal;
        //изменяемые
        padding: $padding;
      }
    }
  }
  &__input-number {
    > input {
      padding: 0 $numberPadding 0 $padding;
      overflow: hidden;
      &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
    }
  }
  &__number {
    &-btn {
      position: absolute;
      right: 0;
      height: 50%;
      display: block;
      font-size:  $font-size;
      text-decoration: none;
      width: $numberWidth;
      line-height: $numberHeight;
      text-align: center;
      transition: .2s ease-in-out;
      border-left: $border;
      overflow: hidden;
      &:hover {
        color: #fff;
        background-color: #696969;
      }
      i {
        line-height: $numberWidth;
      }
    }
    &-up {
      top: 0;
      border-bottom: $border;
      &:hover i {
        animation: arrowHoverUp 1s ease-in-out 1 normal;
      }
    }
    &-down {
      bottom: 0;
      &:hover i {
        animation: arrowHoverDown 1s ease-in-out 1 normal;
      }
    }
  }
  &__input-search {
    input[type="search"] {
      box-sizing: border-box;
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button {
        display: none;
      }
    }
  }
  &__search {
    &-cls, &-btn {
      position: absolute;
      width: $height;
      text-align: center;
      top: 0;
      height: $height;
      i {
        line-height: $height;
      }
    }
    &-cls {
      right: 0;
    }
    &-btn {
      left: 0;
    }
  }


  &__input-checkbox, &__input-radio {
    margin: $margin;
    > input {
      position: absolute;
      left: -9999px;
      + label {
        position: relative;
        padding-left: $size + 16;
        font-size: .75rem;
        color: flexy-color(gray);
        line-height: 1rem;
        > .b-form__input-custom-checkbox {
          position: absolute;
          top: 0;
          left: 0;
          line-height: .75rem;
          //фон
          &:before {
            content: '';
            display: block;
            width: $size;
            height: $size;
            border-radius: $radius;
            border: $border;
            background-color: $bg;
          }
          //чек
          &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            content: '\f00c';
            font-family: 'Font Awesome 5 Free';
            color: flexy-color();
            font-size: $size / 2;
            font-weight: 700;
          }
        }
        > a {
          color: flexy-color(gray);
        }
      }
      &:checked + label > .b-form__input-custom-checkbox:after {
        opacity: 1;
      }
    }
  }
  &__input-radio > input + label > .b-form__input-custom-checkbox {
    &:before {
      border-radius: 50%;
    }
    &:after {
      content: '';
      width: $size - 4;
      height: $size - 4;
      border-radius: 50%;
      background-color: flexy-color(green);
    }
  }


  &__input-submit {
    margin: $margin;
    > input {
      height: $height;
      background-color: flexy-color(green);
      border-radius: $height/2;
      color: flexy-color(white);
      cursor: pointer;
      text-transform: uppercase;
      width: 100%;
    }
  }
}

/* Variables */
//Input
$iHeight: 50px;
$iPadding: 16px;
$iBorderWidth: 1px;
$iBorder: $iBorderWidth solid #ddd;
$iBorderRadius: 0;
$iBackgroundColor: flexy-color(white);
$iFontSize: 16px;
$iColor: flexy-color(black);
//Radio, checkbox
$rSize: 16px;
$rBorder: $iBorder;
$rPadding: 10px;
$rFontSize: $iFontSize;
$rColor: flexy-color(green);
//Button

/* Reset */
.b-input {
  max-width: none;
  padding: 0;
  box-shadow: none;
  &:hover:not(:focus) {
    box-shadow: none;
  }
  & input[type="search"] {
    box-sizing: border-box;
  }
  & textarea {
    resize: none;
  }
  & input[type="number"] {
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }
  & input[type="checkbox"], input[type="radio"] {
    visibility: hidden;
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;
  }
  & input[type="submit"], input[type="reset"] {
    width: 100%;
  }
}

/* Form Styles */
.b-form {
  &__row {
    margin-top: 20px;
  }
}

.b-input {
  width: 100%;
  &__wrapper {
    position: relative;
    display: block;
  }
  &__field {
    width: 100%;
    min-height: $iHeight;
    padding: 0 $iPadding;
    border: $iBorder;
    border-radius: $iBorderRadius;
    box-sizing: border-box;
    transition: border-color .15s;
    background-color: $iBackgroundColor;
    font-size: $iFontSize;
    color: $iColor;
    &.is-error {
      border-color: flexy-color(error);
    }
    &.is-valid {
      border-color: flexy-color(success);
    }
    &:focus ~ .b-input__placeholder {
      top: -$iFontSize;
      color: #999;
      font-size: $iFontSize - 2;
      font-weight: 300;
      padding: 0;
      line-height: $iFontSize;
    }
    &--textarea {
      padding: $iPadding;
    }
  }
  &.is-active {
    & .b-input__placeholder {
      top: -$iFontSize;
      color: #999;
      font-size: $iFontSize - 2;
      font-weight: 300;
      line-height: $iFontSize;
      padding: 0;
    }
  }
  &__placeholder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transition: all .15s;
    cursor: text;
    font-size: $iFontSize;
    font-weight: 300;
    line-height: $iHeight;
    color: $iColor;
    padding: 0 $iPadding;
  }
  &__error {
    font-size: $iFontSize - 2;
    font-weight: 300;
    line-height: $iFontSize;
    margin-top: 4px;
    color: flexy-color(error);
  }
}

.b-checkbox, .b-radio {
  &__label {
    line-height: $rFontSize;
    font-size: $rFontSize;
    padding-left: $rPadding + $rSize;
    padding-right: 0;
    display: block;
  }
  &__custom {
    position: absolute;
    top: 0;
    left: 0;
    width: $rSize;
    height: $rSize;
    border: $rBorder;
    transition: all .15s;
    &:before {
      content: '\f00c';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: $rFontSize/2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity .15s ease-in-out;
      color: $rColor;
    }
  }
  &__field {
    &:checked {
      ~ .b-radio__custom, ~ .b-checkbox__custom {
        &:before {
          opacity: 1;
        }
      }
    }
    &.is-valid {
      ~ .b-radio__custom, ~ .b-checkbox__custom {
        border-color: flexy-color(success);
      }
    }
    &.is-error {
      ~ .b-radio__custom, ~ .b-checkbox__custom {
        border-color: flexy-color(error);
      }
    }
  }
}
.b-radio {
  &__custom {
    border-radius: 50%;
    &:before {
      content: '';
      width: 70%;
      height: 70%;
      border-radius: 50%;
      background-color: $rColor;
    }
  }
}

.b-input-btn {
  height: $height;
  background-color: flexy-color(green);
  border-radius: $height/2;
  color: flexy-color(white);
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
  display: block;
}

@keyframes arrowHoverDown {
  0% {opacity: 1; transform: translateY(0px) scale(1);}
  25%{opacity: 0; transform:translateY(10px) scale(0.9);}
  26%{opacity: 0; transform:translateY(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateY(0px) scale(1);}
}
@keyframes arrowHoverUp {
  0% {opacity: 1; transform: translateY(0px) scale(1);}
  25%{opacity: 0; transform:translateY(-10px) scale(0.9);}
  26%{opacity: 0; transform:translateY(10px) scale(0.9);}
  55% {opacity: 1; transform: translateY(0px) scale(1);}
}