.b-info {
  border: 2px solid #f3f3f3;
  padding: .5rem;
  &-code {
    & code {
      color: flexy-color(code);
    }
    background-color: #f3f3f3;
    border-radius: 4px;
    padding: .5rem;
    margin: .5rem 0;
  }
  &-desc {
    font-size: 1.125rem;
    font-weight: 300;
  }
  &-title {
    font-size: 1.875rem;
    font-weight: 700;
  }
}