.b-map {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/img-before-map.png') no-repeat center;
    background-size: cover;
  }
  &__map {
    height: 350px;
    position: relative;
  }
  &__loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    display: none;
    align-items: center;
    justify-content: center;
    animation: showLayer .25s ease-out;
    &.is-active {
      display: flex;
    }
  }
}

.gooey {
  width: 70px;
  height: 70px;
  border-style: solid;
  border-color: #fff transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 3s ease-in-out infinite;
  transform: rotate(-200deg)

}
@keyframes rotate {
  0% { border-width: 10px; }
  25% { border-width: 3px; }
  50% {
    transform: rotate(115deg);
    border-width: 10px;
  }
  75% { border-width: 3px;}
  100% { border-width: 10px;}
}
@keyframes showLayer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}