.b-modal {
  &__close {

  }
  &__modal {
    max-width: 400px;
    width: 100%;
    animation: openModal .3s ease-out;
  }
  & .fancybox-bg {
    background: rgba(0,0,0,0.3);
  }
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}