.b-nav {
  & ul {
    list-style: none;
  }
  & li {
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    &.is-active a {
      border-color: flexy-color(dark_pink);
      background-color: flexy-color(dark_pink);
      color: flexy-color(isabelline);
    }
  }
  & a {
    display: block;
    padding: .5rem;
    border: 1px solid flexy-color();
    color: flexy-color();
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    transition: .15s ease;
    &:hover {
      border-color: flexy-color(dark_pink);
      color: flexy-color(dark_pink);
    }
  }
}