.sprite {
  background-image: url('../images/sprite.png');
  background-repeat: no-repeat;
  display: block;
}

.sprite-domestic-phone-icon {
  width: 69px;
  height: 69px;
  background-position: -5px -5px;
}

.sprite-house-icon {
  width: 60px;
  height: 60px;
  background-position: -84px -5px;
}

.sprite-paint-roller-icon {
  width: 70px;
  height: 75px;
  background-position: -84px -75px;
}

.sprite-radiator-icon {
  width: 79px;
  height: 60px;
  background-position: -154px -5px;
}

.sprite-team-icon {
  width: 61px;
  height: 56px;
  background-position: -164px -75px;
}

.sprite-web-site-icon {
  width: 66px;
  height: 60px;
  background-position: -5px -141px;
}

.sprite-window-icon {
  width: 67px;
  height: 67px;
  background-position: -164px -141px;
}
