.b-tabs {
  &__header {
    position: relative;
  }
  &__legend {
    cursor: pointer;
    &.is-active + .b-tabs__nav {
      display: block;
    }
  }
  &__nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    animation: isActive .35s ease-in-out;
    z-index: 2;
  }
  &__btn {
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    padding: .5rem .9rem;
    &.is-active {
      display: none;
    }
  }
  &__body {

  }
  &__content {
    display: none;
    animation: isActive .35s ease-in-out;
    padding: 20px;
    border: 1px solid;
    &.is-active {
      display: block;
    }
  }
  @include flexy-breakpoint(medium) {
    &__legend {
      display: none;
      &.is-active + .b-tabs__nav {
        display: flex;
      }
    }
    &__nav {
      display: flex;
      position: static;
    }
    &__btn {
      background-color: transparent;
      border: 1px solid black;
      color: black;
      &.is-active {
        display: block;
        background-color: black;
        color: white;
      }
    }
  }
}

@keyframes isActive {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}