$svgIcons: (
	check: (512, 512),
	chevron-down: (512, 448),
	chevron-left: (512, 320),
	chevron-right: (512, 320),
	chevron-up: (512, 448),
	envelope: (512, 512),
	facebook-f: (512, 320),
	instagram: (512, 448),
	map-marker-alt: (512, 384),
	odnoklassniki: (512, 320),
	phone: (512, 512),
	search: (512, 512),
	times: (512, 352),
	twitter: (512, 512),
	vk: (512, 576),
	youtube: (512, 576),
);