

.b-space {
  height: flexy-size(xlarge);
}

img {
  max-height: 100%;
  max-width: 100%;
}

.b-main-page {
  & .b-breadcrumb {
    display: none;
  }
}

.b-body-hidden {
  overflow: hidden;
}

a, button, input[type="submit"] {
  cursor: pointer;
}