h1,.h1 {
  font-size: flexy-size(xxlarge);
}
h2,.h2 {
  font-size: flexy-size(xlarge);
}
h3,.h3 {
  font-size: flexy-size(large);
}
h4,.h4 {
  font-size: flexy-size(medium);
}
h5,.h5 {
  font-size: flexy-size(small);
}
h6,.h6 {
  font-size: flexy-size(xsmall);
}

img {
  max-height: 100%;
  max-width: 100%;
}

a, button, input[type="submit"] {
  cursor: pointer;
}

body {
  color: flexy-color();
}

.b-bg {
  background: {
    position: center;
    size: cover;
    repeat: no-repeat;
  };
}

.b-space {
  height: 40px;
  &_small {
    height: 20px;
  }
  &_medium {
    height: 30px;
  }
}