/**
 * @include flexy-color(colorName) */
$flexy-colors: map-merge(
  $flexy-default-colors,
  (
          default: #2C363F,
          dark_pink: #E75A7C,
          isabelline: #F2F5EA,
          timberwolf: #D6DBD2,
          dark_vanilla: #BBC7A4,

  )
);
/**
 * @include flexy-size(sizeName) */
$flexy-sizes: (
        xxlarge: 2.5rem,
        xlarge: 2rem,
        large: 1.75rem,
        medium: 1.5rem,
        small: 1.25rem,
        xsmall: 1rem,
);
/**
 * @include flexy-breakpoint(breakpointName) */
$flexy-breakpoints: (
        xsmall:0,
        small: 568px,
        medium: 768px,
        large: 992px,
        xlarge: 1248px,
        xxlarge: 1600px
) !default;

$flexy-font: 'Roboto', $flexy-default-font;

$flexy-grid-columns: 12 !default;
$flexy-grid-gutter: 12px !default;

$flexy-grid-wrapper-max-width: 1248px !default;
$flexy-grid-wrapper-min-width: auto !default;

/**
 * set base font size */
$root-font-size: 16px;

/**
 * path to FontAwesome fonts */
$fa-font-path: '../fonts/FontAwesome' !default;

/**
 * Owl Carousel */
$color-base:			#869791 !default;
$color-white:			#FFF !default;
$color-gray:			#D6D6D6 !default;

$nav-color: 			$color-white !default;
$nav-color-hover:		$color-white !default;
$nav-font-size: 		14px !default;
$nav-rounded: 			3px !default;
$nav-margin: 			5px !default;
$nav-padding: 			4px 7px !default;
$nav-background: 		$color-gray !default;
$nav-background-hover:	$color-base !default;
$nav-disabled-opacity: 	0.5 !default;

$dot-width:				10px !default;
$dot-height:			10px !default;
$dot-rounded:			30px !default;
$dot-margin: 			5px 7px !default;
$dot-background:		$color-gray !default;
$dot-background-active:	$color-base !default;

/**
 * Hamburger */
$hamburger-padding-x                       : 15px !default;
$hamburger-padding-y                       : 15px !default;
$hamburger-layer-width                     : 40px !default;
$hamburger-layer-height                    : 4px !default;
$hamburger-layer-spacing                   : 6px !default;
$hamburger-layer-color                     : #000 !default;
$hamburger-layer-border-radius             : 4px !default;
$hamburger-hover-opacity                   : 0.7 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

$hamburger-hover-use-filter: false !default; //false - не использовать
$hamburger-hover-filter    : opacity(50%) !default;

$hamburger-types: (
        spin
) !default;