/*
 Настройки Flexy-Framework
   - цвета - [ m-color_opacity1 || flexy-color(opacity1) ]
   - размеры - [ m-size m-size_xxlarge || _xxlarge || flexy-size(xxlarge) ]
   - хлебные крошки - [ @include flexy-breakpoint(medium) {} ]
   - шрифт по умолчанию
   - сетка
   - обертка
*/

$flexy-colors: map-merge(
  $flexy-default-colors,
  (
          default: #323232,
          white: #fff,
          red: #ff2105,
          blue_light: #7bc1e5,
          blue: #0f6691,
          black: #000,
          gray: #e8e8e8,
  )
);

$flexy-sizes: (
        xxlarge: 2.25rem, //36
        xlarge: 1.5rem, //24
        large: 1.25rem, //20
        medium: .9375rem, //15
        small: .75rem, //12
        xsmall: .625rem, //10
);

$flexy-breakpoints: (
        small: 0,
        medium: 769px,
        large: 992px,
        xlarge: 1228px,
        xxlarge: 1600px
) !default;

$flexy-font: 'Roboto', $flexy-default-font;

$flexy-grid-columns: 12 !default;
$flexy-grid-gutter: .875rem !default; //14

$flexy-grid-wrapper-max-width: 1228px !default;
$flexy-grid-wrapper-min-width: auto !default;


/* Настройки FontAwesome */

$fa-font-path: '../fonts/FontAwesome' !default;

/*
  Настройки темы Owl Carousel
    - цвета
    - стрелки
    - точки
*/

$color-base:			#869791 !default;
$color-white:			#FFF !default;
$color-gray:			#D6D6D6 !default;

$nav-color: 			$color-white !default;
$nav-color-hover:		$color-white !default;
$nav-font-size: 		14px !default;
$nav-rounded: 			3px !default;
$nav-margin: 			5px !default;
$nav-padding: 			4px 7px !default;
$nav-background: 		$color-gray !default;
$nav-background-hover:	$color-base !default;
$nav-disabled-opacity: 	0.5 !default;

$dot-width:				10px !default;
$dot-height:			10px !default;
$dot-rounded:			30px !default;
$dot-margin: 			5px 7px !default;
$dot-background:		$color-gray !default;
$dot-background-active:	$color-base !default;