// ориентация
.b-talign {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
  &-justify {
    text-align: justify;
  }
}
// размеры
.b-fsize {}
// жирность
.b-fweight {}
// начертание
.b-fstyle {}