h1,.b-h1 {
  font-size: flexy-size(xxlarge);
}
h2,.b-h2 {
  font-size: flexy-size(xlarge);
}
h3,.b-h3 {
  font-size: flexy-size(large);
}
h4,.b-h4 {
  font-size: flexy-size(medium);
}
h5,.b-h5 {
  font-size: flexy-size(small);
}
h6,.b-h6 {
  font-size: flexy-size(xsmall);
}