$pngIcons: (
	about: (0px, 0px, 0px, 0px, 47px, 47px, 117px, 94px, 'about'),
	js: (47px, 0px, -47px, 0px, 47px, 47px, 117px, 94px, 'js'),
	list: (0px, 47px, 0px, -47px, 47px, 47px, 117px, 94px, 'list'),
	profile: (47px, 47px, -47px, -47px, 47px, 47px, 117px, 94px, 'profile'),
	range-mark: (94px, 0px, -94px, 0px, 23px, 26px, 117px, 94px, 'range-mark'),
);