<section id="about" class="b-about">

    <div class="b-space_md"></div>
    <div class="b-space_md"></div>
    <div class="b-space_md"></div>

    <div class="b-content-title">
        <i class="b-icon b-icon_about"></i>
        <h2>Расскажите о себе</h2>
    </div>

    <div class="b-space_xs"></div>

    <div class="b-content-desc b-ta_center">
        <p>Напишите несколько предложений, чем привлекла наша вакансия<br>
            и что вы ожидаете от работы у нас.</p>
    </div>

    <div class="b-space"></div>

    <label class="b-about__textarea b-form__elem b-textarea">
        <textarea name="textarea" class="b-textarea__field"
                  placeholder="Понравилась тем, что...">Я уже работаю в удаленном режиме на местную компанию, но так как нагрузки в ней не хватает, остается много свободного времени. По этому я решил поискать еще варинаты удаленной работы. В вашей компании меня привлекли условия удаленной работы и уровень оплаты.</textarea>
    </label>

    <div class="b-space"></div>

    <div class="b-submit b-ta_center">
        <input type="submit" value="Готово" class="b-btn b-btn_blue b-submit__field">
    </div>

    <div class="b-space"></div>
    <div class="b-space_md"></div>

</section>