<section id="js" class="b-js">

    <div class="b-space_md"></div>
    <div class="b-space_md"></div>
    <div class="b-space_md"></div>

    <div class="b-content-title">
        <i class="b-icon b-icon_js"></i>
        <h2>Уровень владения JavaScript</h2>
    </div>

    <div class="b-space"></div>

    <div class="b-range">
        <ul class="b-range__pips b-row">
            <li class="b-col b-col_xsmall_3">Не владею</li>
            <li class="b-col b-col_xsmall_3">Использую готовые<br>решения</li>
            <li class="b-col b-col_xsmall_3">Использую готовые решения<br>и умею и переделывать</li>
            <li class="b-col b-col_xsmall_3">Пишу сложный JS с нуля</li>
        </ul>
        <div class="b-range__slider" data-id-input="range"></div>
        <input type="hidden" name="range" id="range-input">
    </div>

</section>