<section id="profile" class="b-profile">

    <div class="b-space_md"></div>
    <div class="b-space_md"></div>
    <div class="b-space_md"></div>

    <div class="b-content-title">
        <i class="b-icon b-icon_profile"></i>
        <h2>Личная информация</h2>
    </div>

    <div class="b-space"></div>

    <label class="b-form__elem b-input">
        <input type="text" class="b-input__field js-focusing" value="Васильев Лев Вячеславович">
        <span class="b-input__label">ФИО</span>
    </label>

    <div class="b-profile__select b-custom-select">
        <select>
            <option class="b-custom-select__default">Год рождения</option>
            <option value="1993">1993</option>
            <option value="1992" selected>1992</option>
            <option value="1991">1991</option>
            <option value="1990">1990</option>
        </select>
    </div>

    <label class="b-form__elem b-input">
        <input type="text" class="b-input__field js-focusing" value="г. Киров">
        <span class="b-input__label">Место проживания</span>
    </label>

    <label class="b-form__elem b-input">
        <input type="text" class="b-input__field js-focusing" value="helldrumer_3">
        <span class="b-input__label">Skype</span>
    </label>

    <label class="b-form__elem b-input">
        <input type="email" class="b-input__field js-focusing" value="helldrumer@gmail.com">
        <span class="b-input__label">E-mail</span>
    </label>

</section>