<ul class="b-menu">
    <li {% if navActiveItem == 0 %}class="b-menu-active"{% endif %}>
        <a href="about.html">index</a>
    </li>
    <li {% if navActiveItem == 1 %}class="b-menu-active"{% endif %}>
        <a href="services.html">Услуги</a>
    </li>
    <li {% if navActiveItem == 2 %}class="b-menu-active"{% endif %}>
        <a href="price.html">Цены</a>
    </li>
    <li {% if navActiveItem == 3 %}class="b-menu-active"{% endif %}>
        <a href="#">Заявка на консультацию</a>
    </li>
    <li {% if navActiveItem == 4 %}class="b-menu-active"{% endif %}>
        <a href="reviews.html">Отзывы</a>
    </li>
    <li {% if navActiveItem == 5 %}class="b-menu-active"{% endif %}>
        <a href="contacts.html">Контакты</a>
    </li>
</ul>

<div class="b-menu-mobile">
    <div class="b-burger">
        <span class="b-menu-mobile-btn__mid"></span>
    </div>
    <ul class="b-menu-mobile__list">
        <li>
            <a href="about.html">О компании</a>
        </li>
        <li>
            <a href="services.html">Услуги</a>
        </li>
        <li>
            <a href="price.html">Цены</a>
        </li>
        <li>
            <a href="#">Заявка на консультацию</a>
        </li>
        <li>
            <a href="reviews.html">Отзывы</a>
        </li>
        <li>
            <a href="contacts.html">Контакты</a>
        </li>
    </ul>
</div>