<section class="slider">

    <div class="b-content__title h2">Slider</div>

    <div class="b-slider-wrapper">

        <a href="#" class="b-slider-arrow b-slider-arrow__prev" data-slider=".b-slider">
            <i class="fas fa-chevron-left"></i>
        </a>
        <div class="b-slider" data-delay="5000" data-speed="800">
            {% set slider = [1,2,3] %}
            {% for item in slider %}
            <div class="b-slider__item">
                <img src="https://via.placeholder.com/350x150" alt="slider">
            </div>
            {% endfor %}
        </div>
        <a href="#" class="b-slider-arrow b-slider-arrow__next" data-slider=".b-slider">
            <i class="fas fa-chevron-right"></i>
        </a>
        <div class="b-slider-count"></div>

    </div>

</section>