<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Васильев Лев Вячеславович</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/css/app.css">
</head>
<body>

{% include 'parts/_header.njk' %}

<main class="b-content">
    {% block content %}{% endblock content %}
</main>

<script src="assets/js/app.js"></script>
</body>
</html>
