{% extends 'base.njk' %}

{% block content %}

    {% include 'sections/_hero.njk' %}

    <form action="" class="b-form">
        <div class="b-wrapper">

            {% include 'sections/_profile.njk' %}
            {% include 'sections/_skills.njk' %}
            {% include 'sections/_js.njk' %}
            {% include 'sections/_about.njk' %}

        </div>
    </form>

{% endblock content %}
