{% extends 'base.njk' %}

{% set page = 'b-main-page' %}
{% set pageName = 'Шаблон' %}
{% set breadcrumbs = [{'name':'Главная','url':'index'}] %}
{% set navActiveItem = 0 %}


{% block content %}

    <div class="b-wrapper">

        <div class="b-space"></div>

        {% include '_slider.njk' %}

        <div class="b-space"></div>
        <div class="b-space"></div>

        <div class="b-anchor" id="yamap"></div>

        <div class="b-content__title h2">yamap</div>

        <!-- yamap -->
        <div id="map" class="b-map"></div>
        <!--/ yamap-->

        <div class="b-space"></div>

        <div class="b-anchor" id="form"></div>

        <div class="b-content__title h2">form</div>

        <!-- form -->
        <div class="b-form-getcall">
            <form action="" class="b-form" method="post">


                <div class="b-form__input-text">
                    <input class="" type="text" name="text" id="text">
                    <label for="text">text</label>
                </div>

                <div class="b-form__input-password">
                    <input class="" type="password" name="password" id="password">
                    <label for="password">password</label>
                </div>

                <div class="b-form__input-email">
                    <input class="" type="email" name="email" id="email">
                    <label for="email">email</label>
                </div>

                <div class="b-form__input-tel">
                    <input class="" type="tel" name="tel" id="tel">
                    <label for="tel">tel</label>
                </div>

                <div class="b-form__input-number">
                    <input class="" type="number" name="number" id="number">
                    <label for="number">number</label>
                </div>

                <div class="b-form__input-search">
                    <input class="" type="search" name="search" id="search">
                    <label for="search">search</label>
                </div>

                <div class="b-form__textarea">
                    <textarea name="textarea" id="textarea"></textarea>
                    <label for="textarea">textarea</label>
                </div>
                <div class="b-form__input-text">
                    <input name="city" type="text" value="" id="city">
                    <label for="city">city</label>
                </div>
                <div class="b-form__input-checkbox">
                    <input id="agree" type="checkbox" name="agree">
                    <label for="agree">
                        <span class="b-form__input-custom-checkbox"></span>
                        checkbox
                        <a href="#" target="_blank">policy</a>
                    </label>
                </div>
                <div class="b-form__input-radio">
                    <input id="radio" type="radio" name="radio">
                    <label for="radio">
                        <span class="b-form__input-custom-checkbox"></span>
                        radio
                        <a href="#" target="_blank">policy</a>
                    </label>
                </div>
                <input type="hidden" value="Form" name="form_name">
                <div class="b-form__input-submit">
                    <input type="submit" value="Send">
                </div>
            </form>
        </div>
        <!--/ form -->

        <div class="b-space"></div>

        {# Tabs #}
        <div class="b-info-title">Вкладки / Tabs</div>
        <div class="b-info-code">Чтобы включить мобильную адптацию добавь атрибут <code>data-tab-mobile</code> к
            родителю <code>b-tabs</code></div>
        <div class="b-info-code">Чтобы выбрать активуную вкладку по умолчанию добавль класс <code>is-active</code> к
            табу <code>b-tabs__tab</code> и к контенту <code>b-tabs__content</code></div>
        <div class="b-info">
            <div class="b-tabs">
                <div class="b-tabs__header">
                    <div class="b-tabs__active-tab"></div>
                    <div class="b-tabs__links">
                        <a href="#" class="b-tabs__tab is-active" data-tab="#nested_1">Описание</a>
                        <a href="#" class="b-tabs__tab" data-tab="#nested_2">Характеристики</a>
                        <a href="#" class="b-tabs__tab" data-tab="#nested_3">Контакты</a>
                    </div>
                </div>
                <div class="b-tabs__container">
                    <div class="b-tabs__content is-active" id="nested_1">
                        Вкладки с мобильной адаптацией
                        <div class="b-tabs" data-tab-mobile>
                            <div class="b-tabs__header">
                                <div class="b-tabs__active-tab"></div>
                                <div class="b-tabs__links">
                                    <a href="#" class="b-tabs__tab is-active" data-tab="#inner-nested_1">Вложенная
                                        влкадка -
                                        1</a>
                                    <a href="#" class="b-tabs__tab" data-tab="#inner-nested_2">Вложенная влкадка - 2</a>
                                    <a href="#" class="b-tabs__tab" data-tab="#inner-nested_3">Вложенная влкадка - 3</a>
                                </div>
                            </div>
                            <div class="b-tabs__container">
                                <div class="b-tabs__content is-active" id="inner-nested_1">
                                    Контент 1й вложенной вкладки
                                </div>
                                <div class="b-tabs__content" id="inner-nested_2">
                                    Контент 2й вложенной вкладки
                                </div>
                                <div class="b-tabs__content" id="inner-nested_3">
                                    Контент 3й вложенной вкладки
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-tabs__content" id="nested_2">
                        Текст характеристик
                    </div>
                    <div class="b-tabs__content" id="nested_3">
                        Текст контактов
                    </div>
                </div>
            </div>
        </div>

        <div class="b-content__title h2">modal</div>

        <!-- modal -->
        <a href="#" class="b-btn" data-izimodal-open="#get-call" data-izimodal-transitionin="fadeInDown">Open modal</a>
        <!--/ modal -->

        <div class="b-space"></div>


    </div>

{% endblock content %}
