{% extends 'base.njk' %}

{% set pageName = 'Главная' %}
{% set breadcrumbs = [{'name':'Главная','url':'index'}] %}
{% set navActiveItem = 1 %}

{% import 'parts/_macros.njk' as macros %}

{% block content %}

    {# ---> include parts / sections here #}

    <div class="b-map">
        <div id="map" class="b-map__map"></div>
        <div class="b-map__loader">
            <div class="gooey"></div>
        </div>
    </div>

{% endblock content %}
