{% extends 'base.njk' %}

{% set pageName = 'Cтраница 3' %}
{% set breadcrumbs = [{'name':'Главная','url':'page3'}] %}
{% set navActiveItem = 2 %}


{% block content %}

<div class="b-wrapper">
    <div class="b-content__title h2">Страница 3</div>
</div>

{% endblock content %}