{% extends 'base.njk' %}

{% set pageName = 'Страница 2' %}
{% set breadcrumbs = [{'name':'Главная','url':'page2'}] %}
{% set navActiveItem = 1 %}


{% block content %}

<div class="b-wrapper">
    <div class="b-content__title h2">Страница 2</div>
</div>

{% endblock content %}