{% extends 'base.njk' %}

{% set pageName = 'Слайдеры' %}
{% set breadcrumbs = [{'name':'Главная','url':'index'}] %}
{% set navActiveItem = 1 %}


{% block content %}

    <div class="b-wrapper">
        <div class="b-space"></div>
        <div class="b-content-title h2">Стандартный слайдер со стрелками и точками</div>
        <div class="b-space"></div>

        {# Standart Slider #}
        <div class="b-slider">
            <a href="#" class="b-slider-arrow b-slider-arrow__prev" data-slider="#slider">
                <i class="fas fa-chevron-left"></i>
            </a>
            <a href="#" class="b-slider-arrow b-slider-arrow__next" data-slider="#slider">
                <i class="fas fa-chevron-right"></i>
            </a>
            <div class="b-slider__slider js-slider" id="slider" data-delay="5000" data-speed="800">
                {% set slides = [1,2,3] %}
                {% for slide in slides %}
                    <div class="b-slider-item">
                        <img src="https://via.placeholder.com/350x150" alt="slider">
                    </div>
                {% endfor %}
            </div>
            <div class="b-slider-dots"></div>
        </div>

        <div class="b-space"></div>
        <hr>
        <div class="b-space"></div>
        <div class="b-content-title h2">Слайдер с навигацией</div>
        <div class="b-space"></div>

        {# Nav Slider #}
        <div class="b-slider">
            <div class="b-slider__slider js-nav-slider" data-slider-id="nav-slider" data-delay="5000" data-speed="800">
                {% set slides = [1,2,3] %}
                {% for slide in slides %}
                    <div class="b-slider-item">
                        <img src="https://via.placeholder.com/350x150" alt="slider">
                    </div>
                {% endfor %}
            </div>
            <div class="b-space"></div>
            <div class="b-slider__thumbs owl-thumbs" data-slider-id="nav-slider">
                {% for slide in slides %}
                <div class="b-slider-thumb owl-thumb-item">
                    <img src="https://via.placeholder.com/100x150" alt="slider">
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="b-space"></div>
        <hr>
        <div class="b-space"></div>
        <div class="b-content-title h2">Таймлайн слайдер</div>
        <div class="b-space"></div>

        {# Timeline Slider #}
        <div class="b-slider">
            <div class="b-slider__slider  js-timeline-slider" data-delay="5000" data-speed="800">
                {% set slides = [1,2,3] %}
                {% for slide in slides %}
                    <div class="b-slider-item">
                        <img src="https://via.placeholder.com/350x150" alt="slider">
                    </div>
                {% endfor %}
            </div>
            <div class="b-slider-count">
                <div class="b-slider-count__line"><span></span></div>
            </div>
        </div>

        <div class="b-space"></div>
    </div>

{% endblock content %}