<div class="b-dropdown">
    <button class="b-dropdown__toggle">Open Dropdown</button>
    <div class="b-dropdown__menu">
        <button class="b-dropdown__close">&times;</button>
        <div class="b-content-desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aliquid amet, ea ipsa iste
                itaque nihil nostrum odio quaerat recusandae, reiciendis soluta. Aliquam atque beatae deleniti deserunt
                dolorem fugiat ipsam necessitatibus nihil quidem ratione, sequi unde velit veniam veritatis?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corporis cupiditate, dolorem ea,
                eveniet, facilis fugiat mollitia perferendis quidem quisquam saepe totam vitae? Facere, laboriosam.</p>
        </div>
    </div>
</div>