<div class="b-flashes">
    <div class="b-flashes__error">Error number 1</div>
    <div class="b-flashes__error">Error number 2</div>
    <div class="b-flashes__error">Error number 3</div>
</div>

<div class="b-flashes">
    <div class="b-flashes__success">Congratulations! Your message is send</div>
</div>

<form action="" class="b-form">
    {# password, text, email, tel, url #}
    <label class="b-form__elem b-input">
        <input type="text" class="b-input__field js-focusing">
        <span class="b-input__label">Text</span>
    </label>
    {# checkbox #}
    <label class="b-form__elem b-checkbox">
        <input type="checkbox" class="b-checkbox__field">
        <span class="b-checkbox__custom"></span>
        <span class="b-checkbox__label">Checkbox</span>
    </label>
    {# radio #}
    <label class="b-form__elem b-radio">
        <input type="radio" class="b-radio__field">
        <span class="b-radio__custom"></span>
        <span class="b-radio__label">Radio</span>
    </label>
    {# textarea #}
    <label class="b-form__elem b-textarea">
        <textarea name="textarea" class="b-textarea__field js-focusing"></textarea>
        <span class="b-textarea__label">Textarea</span>
    </label>
    {# number #}
    <label class="b-form__elem b-number">
        <input type="number" id="number" class="b-number__field js-focusing">
        <span class="b-number__label">Number</span>
        <div class="b-number__controls">
            <button class="b-number__btn b-number__btn_up" data-id-number="number">+</button>
            <button class="b-number__btn b-number__btn_down" data-id-number="number">-</button>
        </div>
    </label>
    {# search #}
    <label class="b-form__elem b-search">
        <input type="search" id="search" class="b-search__field js-focusing" value="Some value">
        <span class="b-search__label">Search</span>
        <div class="b-search__controls">
            <button type="button" class="b-search__btn b-search__btn_clear js-clear" data-id-input="search"><i class="fas fa-times"></i></button>
            <button type="submit" class="b-search__btn b-search__btn_search"><i class="fas fa-search"></i></button>
        </div>
    </label>
    {# file #}
    <label class="b-form__elem b-file">
        <div class="b-file__name" data-id-input="file"></div>
        <input type="file" id="file" class="b-file__field js-focusing">
        <span class="b-file__label">Выберите файл</span>
        <button class="b-file__clear js-clear" data-id-input="file"><i class="fas fa-times"></i></button>
    </label>
    {# range #}
    <div class="b-form__elem b-range">
        <div id="range" class="b-range__result">
            <div class="b-block-grid b-block-grid_xsmall_2">
                <div class="b-block-grid__item">
                    <div class="b-range__input b-number">
                        <input type="number" name="res1" class="b-number__field js-range-field">
                    </div>
                </div>
                <div class="b-block-grid__item">
                    <div class="b-range__input b-number">
                        <input type="number" name="res2" class="b-number__field js-range-field">
                    </div>
                </div>
            </div>
        </div>
        <div class="b-range__slider" data-id-input="range"></div>
    </div>
    {# date #}
    <label class="b-form__elem b-date">
        <input type="text" class="b-date__field js-focusing js-date">
        <span class="b-date__label">Datepicker</span>
        <span class="b-date__icon"><i class="fas fa-calendar-alt"></i></span>
    </label>
    {# submit #}
    <div class="b-form__elem b-submit">
        <input type="submit" value="Send" class="b-submit__field">
    </div>
</form>

<div class="b-custom-select">
    <select name="" id="">
        <option value="">1</option>
        <option value="">2</option>
        <option value="" selected>3</option>
        <option value="">4</option>
        <option value="">5</option>
    </select>
</div>