<header class="b-header">

    <div class="b-wrapper">
        <nav class="b-header-nav">
            <div class="b-hamburger b-header-nav__burger">
                <div class="b-hamburger__box">
                    <div class="b-hamburger__inner"></div>
                </div>
            </div>
            <ul>
                <li {% if navActiveItem == 0 %}class="is-active" {% endif %}>
                    <a href="index.html">Главная</a>
                </li>
                <li {% if navActiveItem == 1 %}class="is-active" {% endif %}>
                    <a href="sliders.html">Слайдеры</a>
                </li>
                <li {% if navActiveItem == 2 %}class="is-active" {% endif %}>
                    <a href="page3.html">Страница 3</a>
                </li>
            </ul>
        </nav>
    </div>

    <nav class="b-header-mob-nav">
        <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="sliders.html">Страница 2</a></li>
            <li><a href="page3.html">Страница 3</a></li>
        </ul>
    </nav>


</header>