<header class="b-header">
    <div class="b-header__row">
        <a href="#profile" class="b-header__link">Личная информация</a>
        <a href="#skills" class="b-header__link">Опыт</a>
        <a href="#js" class="b-header__link">JavaScript</a>
        <a href="#about" class="b-header__link">О себе</a>
    </div>
    <div class="b-header__burger b-hamburger">
        <div class="b-hamburger__box">
            <div class="b-hamburger__inner"></div>
        </div>
    </div>
</header>