{% macro svgIcon(name, color, fill) %}
    <svg class="b{% if fill %}-fill{% endif %}-svg b{% if fill %}-fill{% endif %}-svg_{{ name }} {% if color %}b-color_{{ color }}{% endif %}">
        <use xlink:href="./assets/images/sprite{% if fill %}-fill{% endif %}.svg#{{ name }}"></use>
    </svg>
{% endmacro %}