{# <a href="#get-modal" class="js-modal-open">Open Modal Btn</a> #}

<div id="get-modal" class="b-modal__modal">

    <button class="b-modal__close">&times;</button>

    <div class="b-content-desc">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid aspernatur consequuntur deleniti dolorem
            ducimus esse id magnam minus nesciunt quas quis quisquam, soluta tempore velit voluptatem voluptates?
            Assumenda dignissimos, dolore eaque eligendi enim illum inventore ipsum odit placeat quam quas quos,
            reiciendis tempore ut.</p>
    </div>

</div>