<div class="b-slider">

    <button class="b-slider-arrow b-slider-arrow__prev" data-slider="#slider">prev</button>

    <div id="slider" class="b-slider__slider">
        {% for slide in [1,2,3] %}
            <div class="b-slider__item">
                <img src="https://via.placeholder.com/350x150" alt="slider">
            </div>
        {% endfor %}
    </div>

    <button class="b-slider-arrow b-slider-arrow__next" data-slider="#slider">next</button>

</div>