<div class="b-tabs">

    <div class="b-tabs__header">
        <div class="b-tabs__legend"></div>
        <nav class="b-tabs__nav">
            <button class="b-tabs__btn is-active" data-tab='{"id":"box-one","title":"Tab 1"}'>Tab 1</button>
            <button class="b-tabs__btn" data-tab='{"id":"box-two","title":"Tab 2"}'>Tab 2</button>
            <button class="b-tabs__btn" data-tab='{"id":"box-three","title":"Tab 3"}'>Tab 3</button>
        </nav>
    </div>


    <div class="b-tabs__body">

        <div id="box-one" class="b-tabs__content is-active">
            Content for tab 1
        </div>

        <div id="box-two" class="b-tabs__content">
            Content for tab 2
        </div>

        <div id="box-three" class="b-tabs__content">
            Content for tab 3
        </div>

    </div>

</div>